<h1>Hello World</h1>

<app-login></app-login>



<!--

<app-signup></app-signup>
<input type="text" (keyup) = "getVal($event)"/>
{{currentVal}}
<br><br>
Property Binding Example disabled works with property binding not with interpolation
<input type="text" [disabled]="disabledBox" [value]="propertyBinding"/>
<br><br>
<button (click)="enableBox()">Enable Box</button>
<br><br>
<button (click) = "getName('Sandeep Chouhan')">Click Me!</button>
<br><br><br>
<input type="text" #input (keyup) = "myEvent(input.value)"/>
<br><br><br>
<input type="text" #input1 (keyup.enter) = "myEvent(input1.value)"/>
<br><br><br>
<input type="text" #input2 (keyup.space) = "myEvent(input2.value)"/>
<br><br><br>
<input type="text" #input3 (keydown) = "myEvent(input3.value)"/>
<br><br><br>
<input type="text" #input4 (keydown.enter) = "myEvent(input4.value)"/>
<br><br><br>
<input type="text" #input5 (keydown.space) = "myEvent(input5.value)"/>
<br><br><br>
<input type="text" #input6 (blur) = "myEvent(input6.value)"/>
<br><br><br>
<div
(mouseover)="myEvent('Mouse In Event')"
style="background-color: blueviolet;">
Mouse Event
</div>
<br><br><br>
<div
(mouseleave)="myEvent('Mouse out Event')"
(mouseover)="myEvent('Mouse In Event')"
style="background-color: rgb(195, 162, 226);">
Mouse Event
</div>

<h1>{{title}}</h1>

<h1>{{test()}}</h1>

<h1>{{test1()}}</h1>

<h1>Object Details:</h1>
<h2>Name: {{student.name}}</h2>
<h2>Age: {{student.age}}</h2>
<h2>Company:{{student.company}}</h2>

<h1>{{siteUrl}}</h1>

<app-userlist></app-userlist>

-->